*{
    margin: 0;
}

.nav{
    height: 50px;
    background-color: green;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    width: 20%;
    padding-left: 5px;
    color: white;
}

.search input{
    border: none;
    border-radius: 10px;
    padding: 5px;
}

.link{
    width: 20%;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
}

.link a{
    color: white;
    text-decoration: none;
}

.img{
    height: 500px;
    background-image: url("image.jpg");
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button button{
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 10px;
}

.button button:hover{
    background-color: greenyellow;
    color: white;
}

.head h1{
    color: white;
}

.para p{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about h1{
    margin-top: 5px;
}

.about p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
    padding: 0px 10px;
}

.a{
    margin-top: 20px;
    display: flex;
    justify-content:space-around;
}

.x{
    background-color: rgb(236, 139, 14);
    height: 300px;
    width: 28%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.x img{
    height: 70px;
    width: 30%;
}

.x h2{
    color: white;
    margin-top: 10px;
}

.x p{
    color: white;
    padding: 5px;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer{
    margin-top: 20px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}