.main{
    height: 300px;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
    align-items: end;
}

.a{
    background-color: red;
    height: 50px;
    width: 30px;
}

.b{
    background-color: green;
    height: 50px;
    width: 30px;
}

.c{
    background-color: blue;
    height: 50px;
    width: 30px;
}